requests
requests-file
backports-abc
backports.shutil-get-terminal-size
backports.ssl-match-hostname
beautifulsoup4
bottle
certifi
cffi
chardet
colorama
cryptography
decorator
Django
ecdsa
enum34
eventlet
Fabric
Flask
Glances
greenlet
html5lib
idna
ipaddress
ipython
ipython-genutils
itsdangerous
Jinja2
lxml
MarkupSafe
mongoengine
numpy
pandas
paramiko
pathlib2
pep8
pexpect
pickleshare
#Pillow
psutil
ptyprocess
pyasn1
pycparser
pycrypto
#pyinotify
pymongo
pyparsing
python-dateutil
python-debian
pytz
simplegeneric
singledispatch
six
ssh-import-id
tornado
traitlets
urllib3
Werkzeug
zope.interface
tushare==1.1.1
#TA-Lib
